---
# https://docs.travis-ci.com/user/multi-os/
matrix:
  include:
    - os: osx
      language: generic
      script:
        - ansible-playbook playbooks/buildenv.yml -i tests/inventory -l localhost -vvvv
        - bundle exec rake spec SPEC_TARGET=localhost
      after_script:
        - ;
      after_success:
        - ;
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      services:
        - docker
      addons:
        apt:
          packages:
          - python-pip
      env:
        - >+
          IMAGE_NAME="fgtatsuro/infra-bridgehead:debian-jessie" PACKER_TEMPLATE="platforms/docker/debian.json"
          PACKER_OPTIONS="" CONTAINER_NAME="container"
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      services:
        - docker
      addons:
        apt:
          packages:
          - python-pip
      env:
        - >+
          IMAGE_NAME="fgtatsuro/infra-bridgehead:debian-jessie-ruby" PACKER_TEMPLATE="platforms/docker/debian.json"
          PACKER_OPTIONS="-var ansible_tag=python,ruby -var docker_tag=debian-jessie-ruby" CONTAINER_NAME="container_withruby"
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      services:
        - docker
      addons:
        apt:
          packages:
          - python-pip
      env:
        - >+
          IMAGE_NAME="fgtatsuro/infra-bridgehead:alpine-3.3" PACKER_TEMPLATE=platforms/docker/alpine.json
          PACKER_OPTIONS="" CONTAINER_NAME="container"
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      services:
        - docker
      addons:
        apt:
          packages:
          - python-pip
      env:
        - >+
          IMAGE_NAME="fgtatsuro/infra-bridgehead:alpine-3.3-ruby" PACKER_TEMPLATE=platforms/docker/alpine.json
          PACKER_OPTIONS="-var ansible_tag=python,ruby -var docker_tag=alpine-3.3-ruby" CONTAINER_NAME="container_withruby"

sudo: required

install:
  - sudo pip install -r requirements.txt
  - ansible-galaxy install -r role_requirements.yml
  - bundle install
script:
  - >+
    ansible-playbook playbooks/buildenv.yml -i tests/inventory -l localhost
    --extra-vars="virtualbox_apt_repository='deb http://download.virtualbox.org/virtualbox/debian precise contrib'"
    -vvvv
  - bundle exec rake spec SPEC_TARGET=localhost
  - packer build ${PACKER_OPTIONS} ${PACKER_TEMPLATE}
  - docker run -it -d --name ${CONTAINER_NAME} ${IMAGE_NAME}
  - bundle exec rake spec SPEC_TARGET=${CONTAINER_NAME}
after_script:
  - docker rm -f container
after_success:
  - docker login -u="fgtatsuro" -e="$DOCKER_EMAIL" -p="$DOCKER_PASSWORD"
  - docker push ${IMAGE_NAME}

env:
  global:
  - secure: PON6YrvqlD8QhhTMnUfaXHcON9t1vKjIc23/0yMxGL4SomogTtgVRATKWIGTSbgXcd0wxme2TFzb1g5gIJoT9e0/iBQn6upnK/iuMwfttpmcm2gAMEfaEJlVmgnWNL1G8KuLsCedpRvKwjPcY1lW+GyAeJicpYdhxz5aoTeukkNS0Q9mU8Js8MadGJwEfTXI0JIexv1nPmzl/ZeYJgYSLyNl+VKT4jcAE2UtofVUBGyLtnCENmWu3ROYZfbmWjKAweEUDZS0U2132YIfjcNh9cEgBxhhjMJWwwD7Sv1TOR/SfRdH2ZnjcjdVG6cYXLSQy/Z9PAdX/jiXuueKJiswP0+5V13snz/8e1CqVIUWqlEY81Lxh6A8wmlflBemF4HL3nBT5OO51C5QN9nL2wY1LQkckCJ+HP6k7/28D2fICYPgYSnww7wFrUcaH69VeEOh6HrYPUuHKfHixaSL8zhGx2j/l3GH6SpqQgerbV2qxQviPB1g0S1nHw2lj+u9KSeCldPsou/TGxFunC9k2hferTyR9wlECJrHoMlFrgsg1nv0LZh2HfXctlJmwX/+f6mxlpt/FGzfadxg+S+sLLr2aHIag8GpEGaWJgYLlFZ0nnZRZY1b/0C1Z/ec5k+JGqUPEB5M6mV2v1pjCAxQJP3BH4HN3Bbrmwb+XXQkSil6Hrw=
  - secure: iFi2OxL6tXwy6fXylt+dbj8m5Sz1GNyKhPmqwvARs5rUfBsVCqgxiX3XdYi4VrTT/TXpsXpQGW4EjLBiPToM6LBLCZ4lfk/cw+nC+MD4e7/RGCbeDx8T3a5V4zIpBx4m4zs0jGFP61O4XPHIyXnrMtNWCMZYb0zY5k91Y0EV/y9dPcDJ+/tOawF2VHdHC0/kN7P9L0bddNGJW/a/QQ2Tisrr63qZwxLwZcErFjofg2WLdzqHKhPyhqkfo2HBAzbDkaXmxXQbwpqEht39Nd95UerWyf0Cp9Ix0RX0z+jIpF0GWhv29tC5bznxYgg9XuU8xP0hr6PCQGWx+tOpkCXaTIrUCH5E//fug8zDsMhAJOxJtMr3halQ8WO5wgrU2dO4WYYS8278vhU5qimTxt7H+tBIIouKELgkYyKuFa8ssJYwsoEB0k3FjyW15oCqqZpKFLvwqUK8IgBo6N915phNp5cYzMzsJBLqtMJA3egzY9IJv2QBjXG8xKZfh+imlAyV8JRDNCDV062t+w++j4C24t2FJ0ZdmZh6/mOfGOo4wj3QIC/ZSzWB7pchvRiLIbZFCWQMAxY7776gHHdXYoOLALAi0JOi0o8bosHLRxiCWwvAR1waI2ouDl3FyL58Rpw+YpbwjI6jNn0cIWUDjozRa+/o9Vmiy56P9xrztYVnEJg=

