---
branches:
  only:
  - master

# https://docs.travis-ci.com/user/multi-os/
matrix:
  include:
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      services:
        - docker
      addons:
        apt:
          packages:
          - python-pip
      env:
        - >+
          BASE_IMAGE_NAME="debian:jessie"
          COMMIT_IMAGE_NAME="fgtatsuro/infra-bridgehead:debian-jessie"
          TAGS="python"
          CONTAINER_NAME="container"
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      services:
        - docker
      addons:
        apt:
          packages:
          - python-pip
      env:
        - >+
          BASE_IMAGE_NAME="debian:jessie"
          COMMIT_IMAGE_NAME="fgtatsuro/infra-bridgehead:debian-jessie-wercker"
          TAGS="python,wercker"
          CONTAINER_NAME="container_forwercker"
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      services:
        - docker
      addons:
        apt:
          packages:
          - python-pip
      env:
        - >+
          BASE_IMAGE_NAME="alpine:3.3"
          COMMIT_IMAGE_NAME="fgtatsuro/infra-bridgehead:alpine-3.3"
          TAGS="python"
          CONTAINER_NAME="container"
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      services:
        - docker
      addons:
        apt:
          packages:
          - python-pip
      env:
        - >+
          BASE_IMAGE_NAME="alpine:3.3"
          COMMIT_IMAGE_NAME="fgtatsuro/infra-bridgehead:alpine-3.3-wercker"
          TAGS="python,wercker"
          CONTAINER_NAME="container_forwercker"
    - os: linux
      dist: trusty
      language: python
      python: 2.7
      services:
        - docker
      addons:
        apt:
          packages:
          - python-pip
      env:
        - >+
          BASE_IMAGE_NAME="ubuntu:18.04"
          COMMIT_IMAGE_NAME="fgtatsuro/infra-bridgehead:ubuntu-18.04"
          TAGS="python"
          CONTAINER_NAME="container"

sudo: required

install:
  - pip install -r requirements.txt
  - ansible-galaxy install -r role_requirements.yml
  - bundle install
script:
  - >+
    ansible-playbook playbooks/base.yml -i inventory/default -l ${CONTAINER_NAME}
    --tags ${TAGS}
    --extra-vars="docker_base_image=${BASE_IMAGE_NAME} docker_commit_image=${COMMIT_IMAGE_NAME}"
    -vvvv
  - bundle exec rake spec SPEC_TARGET=${CONTAINER_NAME}
after_script:
  - docker rm -f  ${CONTAINER_NAME}
after_success:
  - docker login -u="fgtatsuro" -e="$DOCKER_EMAIL" -p="$DOCKER_PASSWORD"
  - docker push ${COMMIT_IMAGE_NAME}

# FYI: https://docs.travis-ci.com/user/encryption-keys
env:
  global:
  - secure: PON6YrvqlD8QhhTMnUfaXHcON9t1vKjIc23/0yMxGL4SomogTtgVRATKWIGTSbgXcd0wxme2TFzb1g5gIJoT9e0/iBQn6upnK/iuMwfttpmcm2gAMEfaEJlVmgnWNL1G8KuLsCedpRvKwjPcY1lW+GyAeJicpYdhxz5aoTeukkNS0Q9mU8Js8MadGJwEfTXI0JIexv1nPmzl/ZeYJgYSLyNl+VKT4jcAE2UtofVUBGyLtnCENmWu3ROYZfbmWjKAweEUDZS0U2132YIfjcNh9cEgBxhhjMJWwwD7Sv1TOR/SfRdH2ZnjcjdVG6cYXLSQy/Z9PAdX/jiXuueKJiswP0+5V13snz/8e1CqVIUWqlEY81Lxh6A8wmlflBemF4HL3nBT5OO51C5QN9nL2wY1LQkckCJ+HP6k7/28D2fICYPgYSnww7wFrUcaH69VeEOh6HrYPUuHKfHixaSL8zhGx2j/l3GH6SpqQgerbV2qxQviPB1g0S1nHw2lj+u9KSeCldPsou/TGxFunC9k2hferTyR9wlECJrHoMlFrgsg1nv0LZh2HfXctlJmwX/+f6mxlpt/FGzfadxg+S+sLLr2aHIag8GpEGaWJgYLlFZ0nnZRZY1b/0C1Z/ec5k+JGqUPEB5M6mV2v1pjCAxQJP3BH4HN3Bbrmwb+XXQkSil6Hrw=
  - secure: vxLGskdBV7tni1VEStpLbuVybRopnul0DRxdnp1zdrLPnJ+E5XfQc7ZDqJB59JjCnAAxzvnjaUK+MEBufZSdE+1nOK7ne41QQIxTEMvlkViR+4hQW8lsT0d7uq+hREVYBK6cWm/fBmuRLBH4kwcK0PXnnP74LE69VTFHP1v/9xG6wGWC5QmK96IVGZRL375jRa5/dycaoE+PVNGboqWfIt9KFh8YKpfwUG3XKsznXwgSnH2u7LnLCgumueYkmi092SfXlqQcr/MSeGNr1OI2+u8n09SfJb+G0YVug5WQD6yWqlpReGlzW+udaylKcyguY5gAMWvlr5OtX/dfMP1uf62E7JnwpA5UHqRoVlTZB1bRODexyPicV74y8i/7dMeGfwzKnV7+XIbR7Jngrd5y7DBN1ZEIYWjGYBAZS3vbnTysGyF8GzBdABZUYMaQ+1y+CpphMgrYA8Xtx/r7LQkrXAl95W27Pqxp4+qx3nN4EHUIpqVBn/8yOLdhxt01OUJnEYKuSd0qsuyKbJxE+XO+UvpjZ0iTHwz3moLQlxFaTiPNqKsPUIQwsntWea0Ot8K7T6xRtiOhm00UW+DD/3nnOZ8/MRbwIuexSA70g6Wn7+jnzgV5cqMt/2moky32VMimA/gJs5cIXC7G3P65dW/uz1sKauSeqAdimUEH6SgFrqs=
